.env
.idea/
.vscode/
build/
logs/**/*.log 
generator/all_models.py
generator/__pycache__/*.pyc
src/_pycache_
src/routes/
src/routes/_pycache_
src/routes/_pycache_/*.pyc
src/routes/*/*/*.py
src/resources/
src/resources/_pycache_
src/resources/_pycache_/*.pyc
src/resource/*/*/*.py
src/models/_pycache_
src/models/_pycache_/*.pyc
src/models/*/*/*.py
src/models/*.py
src/context/
src/context/_pycache_/*.pyc
src/context/*/*/*.py
tmp/
temp/