.env
.idea/
.vscode/
build/
logs/**/*.log 
generator/all_models.py
generator/__pycache__/*.pyc
/generator/templates/__pycache__/*.pyc
src/__pycache__
src/routes/
src/routes/__pycache__
src/routes/__pycache__/*.pyc
src/routes/*/*/*.py
src/resources/
src/resources/__pycache__
src/resources/__pycache__/*.pyc
src/resource/*/*/*.py
src/models/__pycache__
src/models/__pycache__/*.pyc
src/models/*/*/*.py
src/models/*.py
src/context/
src/context/__pycache__/*.pyc
src/context/*/*/*.py
tmp/
temp/