.env
.idea/
.vscode/
build/
logs/**/*.log 
generator/all_models.py
generator/__pycache__/*.pyc
/generator/templates/__pycache__/*.pyc
src/__pycache__
src/routes/
src/routes/__pycache__
src/routes/__pycache__/*.pyc
src/routes/*/*/*.py
src/resources/
src/resources/__pycache__
src/resources/__pycache__/*.pyc
src/resource/*/*/*.py
src/hyper_resource/__pycache__
src/hyper_resource/__pycache__/*.pyx
src/hyper_resource/context/__pycache__
src/models/__pycache__
src/models/__pycache__/*.pyc
src/models/*/*/*.py
src/models/*.py
src/contexts/
src/contexts/__pycache__
src/contexts/__pycache__/*.pyc
src/contexts/*/*/*.py
src/url_interpreter/__pycache__/*.*.pyc
src/orm/__pycache__/*.*.pyc
tests/__pycache__/*.*.pyc
tests/contexts/*/*/*.py
tests/contexts/*.py
tests/db/*/*/*.py
tests/db/*.py
tests/db/*/*/*.sqlite
tests/db/*.sqlite
tests/models/*/*/*.py
tests/models/*.py
tests/resources/*/*/*.py
tests/resources/*.py
tests/routes/*/*/*.py
tests/routes/*.py
src/static/
src/static/*.html
tmp/
temp/